html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: rgba(247, 247, 247, 0.8);
    font-family: 'Open Sans', sans-serif;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}


.general {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-bottom: 50;
}

.fa-long-arrow-left {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    color: #6e6e6e;
}

.fa-ellipsis-h {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    color: #6e6e6e;
}


.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.terziim {
    height: 30px;
    margin-bottom: 10px;
}

.welcomeText {
    font-size: 24px;
    font-weight: bold;
    color: #f78c00;
    margin-top: 10px;
}



.middle {
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 40px;
    margin-top: 30px;
}

.name {
    display: flex;
    flex-direction: column;
}

.nameText {
    font-size: 14px;
    color: #6e6e6e;
}

.input {
    height: 30px;
    width: 220px;
    font-size: 14px;
    border: 1px solid #dddd;
    border-radius: 5px;
    background-color: rgba(247, 247, 247, 0.8);
    padding: 0px 5px 0px 8px;
    margin-top: 10px;
    margin-bottom: 2px;
}



.Bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 102px;
}

.question {
    font-size: 12px;
    color: #6e6e6e;
    margin-bottom: 10px;
}

.signupButton {
    display: flex;
    height: 30px;
    width: 240px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    background-color: #f78c00;
    border-radius: 5px;
    margin-top: 20px;
}

.Bottom div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.Bottom div a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: 5px;
}

.alreadyHaveAccount {
    font-size: 14px;
    color: #6e6e6e;
}






footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(247, 247, 247, 0.8);
}

.border {
    border-bottom: 1px solid #dddd;
    width: 280px;
}

.indice {
    margin-top: 20px;
}
